.div1 {
	width: 230px;
	height: 926px;
	float: left;
	}
				
.div2 {
	width: 1100px;
	height: 1500px;
	margin-left: 232px;
	}
				
.box {
	background-color: #222D32;
	}
				
.wo {
	color: white;
	text-decoration: none;
	}
				
a {
	text-decoration: none;
	}
				
a:hover {
	text-decoration: none;
	}
				
body {
	min-width: 520px;
	}
				
.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
	}
				
.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
	}
				
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
	}
				
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
	}
				
.portlet-content {
	padding: 0.4em;
	}
				
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
	}
				
.box2 img {
	display: none;
	}
				
#button {
	padding: .5em 1em;
	text-decoration: none;
	border: none;
	background: transparent;
	}
				
#effect {
	position: relative;
	width: 240px;
	height: 135px;
	padding: 0.4em;
	}
				
#effect h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	}
				
.box div {
	background: black;
	}
				
.box3 button {
	border: none;
	background: transparent;
	width: 36px;
	}
				
.box3 button:hover {
	background: #367FAA;
	}
				
.box3 button:focus {
	background: #367FAA;
	}